html {box-sizing:border-box;}
*, *:before, *:after {box-sizing:inherit;}

body {
	margin:auto;
	width:1000px;
}

header {
	display: flex;
	justify-content: flex-end;
}

#subscribe {
	color: white;
}

#social > img {
	width:40px;
	align-self: right;
}

#slide {
	overflow: hidden;
	height: 300px;
	background: url("images/top-image.png");
	background-position: -50px -100px;
	background-size: 130%;
	border: solid 10px white;
}

#grid > img {
	display: block;
	padding-top: 25px;
	padding-left:20px;
}

#grid {
	background-image: url("images/grid.png");
	background-position: bottom;
	height: 300px;
	background-blend-mode:overlay;

}

#wordblocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 10px;
}

.wrdblock {
	min-width: 200px;
	max-width: 330px;
	background-color:white;
	border-bottom:inset 3px #aaa;
	padding:20px;
	font-family: font:15px arial, sans-serif;

}

h3 {
	color: #555452;
	font:30px arial, sans-serif;
}

.date { 
	color: #aaa;
	margin-top:20px;
	font-family: font:14px arial, sans-serif;
}

p{
	font:14px arial, sans-serif;
	color:#888;
}

.wrdblock > a {
	color:red;
	display: block;
	text-align: center;
}

#sbcontainer {
  margin-bottom: 10px;
}

#sbcontainer:after {
  content:"";
  display:block;
  clear:both;
}

.skateboarders {
  position:relative;
}

.skateboarders > div {
	background-color: black;
  color:white;
  width:326px;
  height:220px;
  line-height:220px;
  text-align:center;
  float:left;
  border:2px solid white;
  font: 30px arial,sans-serif;
  
}

.skateboarders div:first-child {
	margin-right: 10px;
	background: url("images/sk8er-4.png") -120px no-repeat;

}

.skateboarders div:nth-child(2){
	background: url("images/sk8er-3.png");
}

.skateboarders div:nth-child(3) {
  clear:left;
  width:662px;
  margin-top: 10px;
  margin-right: 10px;
  background: url(images/sk8er-1.png) 0px -60px no-repeat;
}

.skateboarders div:nth-child(4) {
  height:450px;
  line-height:450px;
  margin-top:-220px;
  background-blend-mode: lighten;
  background: url("images/sk8er-2.png") -400px no-repeat;
}

.skateboarders .arrow {
  width:170px;
  height:100px;
  line-height:100px;
  position:absolute;
  top:50px;
  left:-200px;
  font-size: 20px;
}

#sk8boards {
	background-color:white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding:20px;
	margin-bottom: 20px;
}

#contact{
	background-color: white;
	padding:20px;
}

#contacttext {
	width: 400px;
	display: inline-block;
	float: left;

}

form {
	height:300px;
	width: 400px;
	display: inline-block;
}

#contacttext > img {
	width:20px;
}
